body {
  background-color: black;
}

.h1 {
  text-align: center;
  font-size: 2.5rem;
}

.main{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 100%;
  background-color: grey;
  color: white;
}

.form {
  text-align: center;
  font-size: 2rem;
}

.input {
  font-size: 1.5rem;
}

.tehtavat {
  text-align: center;
  font-size: 1.5rem;
  border: 1px solid rgb(97, 97, 97);
  background-color: black;
  padding: 0px;
  border-radius: 5px;
}